/* variabels */



/* global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color:#10cab7;
    --second-color :#2c4755;
    --section-padding: 60px;
    --section-background:#f6f6f6;
    --main-duration:.3s
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
.parent {
    background-color: #eee;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* components */
.special-heading {
        color: #ebeced;
        font-size: 100px;
        letter-spacing: -6px;
        text-align: center;
        margin: 0;
        font-weight: 800;
}
.special-heading + p {
    text-align: center;
    margin: -30px 0 0;
    color: #797979;
    font-size: 20px;
}
@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin: -20px;
    }
}
/* header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .link {
    position: relative;
}
.header .link .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .link .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
}
.header .link .icon span:first-child {
    width: 100%;
}
.header .link .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}
.header .link .icon span:last-child {
    width: 100%;
}
.header .link:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .link ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    min-width: 200px;
    top: calc(100% + 15px);
    right: 0;
    display: none;
    z-index: 1;
}
.header .link:hover ul {
    display: block;
}
.header .link ul::before {
    content: '';
    position: absolute;
    border: 10px solid ;
    border-color: transparent transparent var(--section-background) transparent;
    right: 5px;
    top: -20px;
}
.header .link ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
}
.header .link ul li a:hover {
    padding-left: 25px;
}
.header .link ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/* landing */
.landing {
    position: relative;
    background-image: url(../img/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50% , -50%);
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.landing .intro-text p{
    color: #333;
    font-size: 20px;
    line-height: 1.8;
}
/* features */
.features {
    background-color: var(--section-background);
    padding: var(--section-padding) 0;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i{
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}
.features .feat h3{
    margin: 30px 0;
    font-weight: 800;
}
.features .feat p{
    font-size: 17px;
    color: #777;
    line-height: 1.8;
}
/* services */
.services {
    padding: var(--section-padding) 0;
}
.services .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .service-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:797px) {
    .services .service-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .service-content .srv i {
    color: var(--main-color);
    font-size: 40px;
    font-weight: bold;
    flex-basis: 60px;
}
.services .service-content .srv .text {
    flex: 1;
}
.services .service-content .srv .text h3 {
    margin: 11px 0 13px;
}
.services .service-content .srv .text p {
    color: #777;
    line-height: 1.6;
    font-weight: 300;
}
.services .service-content .image {
    text-align: center;
    position: relative;
}
.services .service-content .image::before {
    content: '';
    position: absolute;
    background-color: var(--second-color);
    right: 0;
    width: 90px;
    height: calc(100% + 100px);
    top: -50px;
    z-index: -1;
}
.services .service-content .image img {
    width: 260px;
}
@media (max-width:1199px) {
    .image-column {
        display: none;
    }
}
/* portfolio */
.portfolio {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.portfolio .portfolio-content .card h3 {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}
.portfolio .portfolio-content .card p {
    margin-bottom: 0 ;
    line-height: 1.6;
    color: #777;
}
@media(max-width:797px) {
    .portfolio .portfolio-content .card .info{
        text-align: center;
    }
}
/* about */
.about {
    padding-top: var(--section-padding) ;
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px) {
.about .about-content {
    flex-direction: column;
    text-align: center;
}

}
.about .about-content .image {
    width: 250px;
    height: 375px;
    position: relative;
}
@media (max-width:991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 120px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -160px;
    z-index: -1;
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
    margin-bottom: 50px;
    line-height: 2;
    font-weight: bold;
    color: var(--main-color);
}
.about .about-content .text hr {
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}
.about .about-content .text p:last-of-type {
    color: #777;
    line-height: 2;
}
@media (max-width:991px) {
    .about .about-content .image::before ,
    .about .about-content .image::after {
        display: none;
    }
}
/* contact */
.contact {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.contact .info {
    padding: var(--section-padding) 0;
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--second-color);
    margin-bottom: 15px;
    letter-spacing: -2px;
}

.contact .info .link {
    display: block;
    font-size: 35px;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 800;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 15px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--second-color);
}
@media (max-width:797px) {
    .contact .info .label , 
    .contact .info .link {
        font-size: 25px;
    }
}
/* footer */
.footer {
    background-color: var(--second-color);
    padding:30px 10px;
    text-align: center;
    color: white;
    font-size: 20px;
}
span {
    color: var(--main-color);
    font-weight: bold;
}